#myId{
    background-image: url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTit-JnxMDv2GGAkG9_6lPM1695xErnnRg0Ng&usqp=CAU");
    background-repeat: no-repeat;
    background-size: cover;
    padding-bottom: 100px;
}